* {
    /* border: red solid 5px ; */
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background: #1B1924;
    color: #FFFFFF;
    font-family: Karla;
}

.img-element {
    display: block;
    width: 90px;    
    height: 90px;    
    margin: 50px auto 0;
}

.heading {
    text-align: center;
}

.input-element-large {
    display: block;
    width: 300px;
    height: 118px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    background: #444059;
    border: none;
    border-radius: 8px;
    color: white;
}

.input-element-large::placeholder {
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
}

.second-inputs-wrapper-element {
    display: flex;
    margin-top: 30px;   
    width: 317px;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px;
}

.input-element-small {
    text-align: center;
     background: #444059;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 152.85px;
    color: white;
}

.button-element {
    display: block;
    width: 317px;
    height: 61px;
    margin: 10px auto;
    border-radius: 8px;
    background: #28A9F1;
    font-family: Karla;
    font-size: 22px;
    color: #04131C;
}

.input-element-small::placeholder {
    text-align: center;
}

.wrapper-bottom-heading {
    text-align: center;
}

.wrapper-bottom-heading {
    margin: 20px 0;
}

.wrapper-bottom {
    width: 350px;
    display: block;
    margin: 0 auto 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: inter;
}

ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    background: white;
    color: #1B1924;
    padding: 20px 15px; 
}

li div {
    display: flex;
    justify-content: space-between;
}

.button-element-2 {
    background: none;
    border: none;
}

